<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="PersonnelDepartmentEntitiesSQL" connectionString="metadata=res://*/ModelSQL.Model1.csdl|res://*/ModelSQL.Model1.ssdl|res://*/ModelSQL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC6\MSABDULLA;initial catalog=PersonnelDepartment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>